PyQt6
accelerate
fastapi
uvicorn[standard]
markdown2
torch
torchvision
transformers @ git+https://github.com/huggingface/transformers.git@main
# RAG Dependencies
langchain
langchain-community
langchain-text-splitters
sentence-transformers
faiss-cpu
Pillow
pypdf
python-docx
