PyQt6
accelerate
fastapi
uvicorn[standard]
markdown2
torch
transformers @ git+https://github.com/huggingface/transformers.git@main
# RAG Dependencies
langchain
langchain-community
sentence-transformers
faiss-cpu
pypdf
python-docx
